.ap-editor-w {
  border-right: solid 2px var(--border-color);
  width: 50%;
  padding-top: 0.3rem;
}

.ap-editor-w > .header {
  display: flex;
}

.ap-editor-w .btn-wrapper {
  border-bottom: 2px solid var(--border-color);
  width: 126px;
  padding-right: 0.25rem;
  margin-right: 0.3rem;
}

.ap-editor-w .ap-tabs-w {
  width: calc(100% - 126px - 0.3rem);
}
@media (max-width: 480px) {
  .ap-editor-w {
    display: none;
  }
}
