.ap-tabs-w {
  display: flex;
  width: 80%;
  border-bottom: 2px solid #2b2b2b;
}
.ap-tabs-w section {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.ap-tabs-w section > div {
  border: 2px solid #2b2b2b;
  border-radius: 4px 4px 0 0;
  border-left-color: transparent;
  padding: 0.5rem 0.9rem 0.5rem 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: var(--primary-font-color);
  font-weight: 500;
  white-space: nowrap;
  border-bottom-color: transparent;
  opacity: 0.5;
}

.ap-tabs-w section::-webkit-scrollbar {
  display: none;
}

.ap-tabs-w section > div.selected {
  border-bottom-color: transparent;
  opacity: 1;
  border-left-color: #2b2b2b;
}
.ap-tabs-w section > div .cross-mark {
  margin-left: 4px;
  padding-left: 0.5rem;
}

.ap-tabs-w section > div:first-of-type {
  border-left-color: #2b2b2b;
}
