.ap-cb-w {
  display: flex;
}
.ap-cb-w > div {
  margin: auto;
}

.ap-cb-w section {
  background-color: #242424;
  border-radius: 4px;
}

.ap-cb-w .chat-input {
  width: 32.75rem;
  height: 4.5rem;
}
.ap-cb-w .chat-input input {
  background-color: transparent;
  width: 100%;
  border: none;
  color: #a9a9a9;
  font-size: 0.875rem;
  padding: 1.6rem;
  padding-left: 2rem;
}
.ap-cb-w .chat-input input:focus {
  outline: none;
}
