.ap-cb-w {
  display: flex;
  width: 50%;
  background: var(--chatbot-bg-color);
}
.ap-cb-w > div {
  margin: auto;
  width: 33rem;
}

.ap-cb-w .chat-input {
  height: 4.5rem;
  border-radius: 20px;
  background: var(--chatbot-bg-color);
  box-shadow: 20px 20px 60px #bcbcbc, -20px -20px 60px #fefefe;
}
.ap-cb-w .chat-input input {
  background-color: transparent;
  width: 100%;
  border: none;
  color: #000;
  font-size: 0.875rem;
  padding: 1.6rem;
  padding-left: 2rem;
}
.ap-cb-w .chat-input input:focus {
  outline: none;
}

.ap-cb-w .chatarea-wrapper {
  height: 24.5rem;
  padding: 1.25rem;
  margin-bottom: 2.125rem;
  border-radius: 20px;
  background: var(--chatbot-bg-color);
  box-shadow: 20px 20px 60px #bcbcbc, -20px -20px 60px #fefefe;
}

@media (max-width: 480px) {
  .ap-cb-w {
    width: 100%;
  }
  .ap-cb-w > div {
    width: 95vw;
    margin-top: 10px;
  }
}
