* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scrollbar-width: thin;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
:root {
  --primary-bg-color: #171717;
  --secondary-bg-color: #404040;
  --primary-font-color: #fff;
  --secondary-font-color: #d3d3d3;
  --button-type1-bg-color: #171717;
  --button-type2-bg-color: #66d68d;
  --button-disabled-bg-color: #454545;
  --tertiary-bg-color: #404040;
  font-size: 18px;
}

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
